<%- include('partials/header') %>

<div class="d-flex align-items-center justify-content-center vh-100">
  <div
    class="container frm-bg p-4 shadow rounded"
    style="max-width: 500px; background-color: #f9f9f9"
  >
    <h3 class="text-center mb-4"><%= title %></h3>

    <% if (locals.set) { %>
    <!-- Update form -->
    <form
      action="/update-set/<%= set ? set.id : '' %>"
      method="POST"
      class="needs-validation"
      novalidate
    >
      <div class="mb-3">
        <label for="name" class="form-label">Name of the Set</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          value="<%= set.name %>"
          required
        />
        <div class="invalid-feedback">Please enter the name of the set.</div>
      </div>
      <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <input
          type="text"
          class="form-control"
          id="comment"
          name="comment"
          value="<%= set.comment %>"
        />
      </div>
      <button class="btn btn-primary w-100 btn-lg" type="submit">Submit</button>
    </form>
    <% } else { %>
    <!-- Add form -->
    <form action="add-set" method="POST" class="needs-validation" novalidate>
      <div class="mb-3">
        <label for="name" class="form-label">Name of the Set</label>
        <input
          type="text"
          class="form-control"
          id="name"
          name="name"
          placeholder="Name"
          required
        />
        <div class="invalid-feedback">Please enter the name of the set.</div>
      </div>
      <div class="mb-3">
        <label for="comment" class="form-label">Comment</label>
        <input
          type="text"
          class="form-control"
          id="comment"
          name="comment"
          placeholder="Any comment"
        />
      </div>
      <button class="btn btn-primary w-100 btn-lg" type="submit">Submit</button>
    </form>
    <% } %>
  </div>
</div>

<%- include('partials/footer') %>
