<%- include('partials/header') %>

<div class="container py-5">
  <h3 class="mb-3 text-center">Search Words in Database</h3>
  <form action="search-words" method="POST">
    <div class="row justify-content-center">
      <div class="col-12 col-md-8 col-lg-6">
        <div class="form-group mb-3">
          <label for="wordQuery" class="form-label"
            >Enter Hanzi, Pinyin or Translation</label
          >
          <input
            type="text"
            class="form-control"
            id="wordQuery"
            name="wordQuery"
            placeholder="Your search"
            required
          />
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-primary px-4">Search</button>
        </div>
      </div>
    </div>
  </form>
  <div class="list-group">
    <% if (words && words.length > 0) { %> <% for (let word of words) { %>
    <div class="row align-items-start mb-2">
      <div class="col-12 col-md-8">
        <a
          href="/word/<%= word.id %>"
          class="list-group-item list-group-item-action"
        >
          <%= word.hanzi %> (<em><%= word.pinyin %></em>) : "<%=
          word.translation %>"
        </a>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        <a
          role="button"
          class="btn btn-outline-secondary w-100"
          href="/update-word/<%= word.id %>"
        >
          Update
        </a>
      </div>
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        <form action="/delete-word/<%= word.id %>" method="POST">
          <button type="submit" class="btn btn-danger w-100">Delete</button>
        </form>
      </div>
    </div>
    <% } %> <% } else { %>
    <p class="text-center text-muted">No words (yet) found.</p>
    <% } %>
  </div>
</div>

<%- include('partials/footer') %>
