<%- include('partials/header') %>

<div class="container">
  <h3 class="mb-3 text-center">Words in Database</h3>
  <div class="list-group">
    <% if (locals.words) { %> <% for (let word of words) { %>
    <div class="row align-items-start mb-2">
      <!-- Word information -->
      <div class="col-12 col-md-8">
        <a
          href="/word/<%= word.id %>"
          class="list-group-item list-group-item-action"
        >
          <%= word.hanzi %> (<em><%= word.pinyin %></em>) : "<%=
          word.translation %>"
        </a>
      </div>

      <!-- Update button (stacked on small screens) -->
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        <a
          role="button"
          class="btn btn-outline-secondary w-100"
          href="/update-word/<%= word.id %>"
        >
          Update
        </a>
      </div>

      <!-- Delete button (stacked on small screens) -->
      <div class="col-6 col-md-2 mt-2 mt-md-0">
        <form action="/delete-word/<%= word.id %>" method="POST">
          <button type="submit" class="btn btn-danger w-100">Delete</button>
        </form>
      </div>
    </div>
    <% } %> <% } else { %>
    <p>No words available.</p>
    <% } %>

    <!-- Add new word button -->
    <a role="button" class="btn btn-primary w-100 w-md-auto" href="/add-word"
      >Add new word</a
    >
  </div>
</div>

<%- include('partials/footer') %>
