<%- include('partials/header') %>

<div class="container">
  <div class="px-4 py-5 my-5">
    <div class="col-lg-6 mx-auto">
      <% if(locals.word){ %>

      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <ul class="list-group text-start">
          <h1 class="display-5 fw-bold text-body-emphasis">
            <%= word.hanzi %>
          </h1>
          <li class="list-group-item"><%= word.pinyin %></li>
          <li class="list-group-item"><%= word.translation %></li>
          <li class="list-group-item">Created By Id: <%= word.created_id %></li>
          <li class="list-group-item">
            Last Modified By Id: <%= word.last_modified_id %>
          </li>

          <% if(word.word_class_id) { %>
          <li class="list-group-item">
            Word Class Id: <%= word.word_class_id %>
          </li>
          <% } %> <% if(word.comment) { %>
          <li class="list-group-item"><%= word.comment %></li>
          <% } %>

          <a
            role="button"
            class="btn btn-outline-secondary w-100"
            href="/update-word/<%= word.id %>"
          >
            Update
          </a>

          <a role="button" class="btn btn-info" href="/words"
            >Back to All Words</a
          >
        </ul>

        <% } else { %>
        <p>Word not found.</p>
        <% } %>
      </div>
    </div>
  </div>
</div>

<%- include('partials/footer') %>
